ul {
  margin: auto;
  display: block;
  display: inline-block;
}

li {
  list-style-type: none;
  font-size: 0.9em;
}

img {
  display: block;
  margin: auto;
}

h2 {
  font-size: 1.3em;
  opacity: 0.65;
}

.btn-primary {
  margin-top: 0.25rem;
  background-color: #6778e9;
}

.future {
  text-align: center;
  margin-top: 15px;
}

.low {
  opacity: 0.65;
}

.datalist {
  margin: auto;
}

.footer {
  size: 0.5em;
  margin: 8px;
  text-decoration: none;
  color: #000000;
  opacity: 0.65;
  display: block;
  text-align: center;
}

.footer:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #000000;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 15px;
}

#c:hover {
  cursor: pointer;
  text-decoration: underline;
}

#f:hover {
  cursor: pointer;
  text-decoration: underline;
}
